.task {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 4rem;

  margin-top: calc(0px - 1.625rem);
}

@media (max-width: 45rem) {
  .task {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: calc(0px - 2.625rem);
  }
}

.task input {
  border: 0;
  font-size: 1rem;
  color: var(--gray-300);
  margin-right: 0.25rem;
  padding: 1rem;
  width: 39.875rem;
  background: var(--gray-500);
  border-radius: 8px;
}

.task button {
  border: 0;
  font-size: 0.875rem;
  background: var(--blue-500);
  color: var(--gray-100);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
}
